# Contact Service - Database Configuration
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/ticketverse_contact
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Contact Service - JWT Configuration
JWT_SECRET=c2VjcmV0LWtleS1mb3ItdGlja2V0dmVyc2UtYXBwbGljYXRpb24tc2hvdWxkLWJlLWxvbmctZW5vdWdo

# Contact Service - Mail Configuration
MAIL_USERNAME=ticketverseapp@gmail.com
MAIL_PASSWORD=cqsvstlbkmopkosj
