# Gateway Service - Downstream Microservices URLs
AUTH_SERVICE_URL=http://localhost:8081
EVENT_SERVICE_URL=http://localhost:8082
BOOKING_SERVICE_URL=http://localhost:8083
CONTACT_SERVICE_URL=http://localhost:8084
